main {
    .box-img {
        img {
            width: 90%;
            padding:20% 0 0 25%;

            @media only screen and (max-width:380px)
            {
            width: 20%;
            }
            }
    }
    div {
        display: grid;
        align-items: center;
        width: auto;
        height: 600px;    
         }
        .box-destacado {
            background-color: $color-primary;
            width: 70%;
            p {
                text-align: center;
                color: white;
                font-size: 2em;
                font-weight: bolder;
                line-height: 1.5em;
                
                .text-destacado {
                border-bottom: $color-sencundary solid 4px;
                }
            }
        }
}




